@import "Root.css";

.grid {
  background-color: var(--background);

  margin: var(--margin);
}

.column {
  display: grid;
}

.inline {
  display: inline-grid;
}

.item {
  border-radius: var(--radius);

  margin-top: var(--margin);
}